body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    max-width: 100%; /* Set the maximum width of the body to 100% of the viewport width */
    overflow-y: auto; /* Add vertical scrollbar if needed */
  }
  